.service{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.homescreen2{
    margin: 0px 0px 30px;
    display: flex;
    justify-content: center;
    align-items:center ;
    width: 600px;
    height: 600px;
    border: 10px solid white;
    box-shadow: 10px 10px 8px #888888;
    
}

.homescreen3{
    margin: 0px 0px 30px;
    display: flex;
    justify-content: right;
    align-items: center ;
    width: 600px;
    height: 600px;
    border: 10px;
    border: 10px solid white;
    box-shadow: 10px 10px 8px #888888;
    
}

